html,
body,
main,
h1,
h2,
h3,
body,
ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: clamp(10px, 3.2vw, 15px);
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
  );
}

.avatar__image {
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
}

header {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #535bf2;
}

a:last-child {
  padding-right: 0;
}
a.active {
  font-weight: bolder;
  text-decoration: underline;
}

body {
  width: 30rem;
  margin: 0 auto;
}

@font-face {
  font-family: "SF PRO";
  font-style: normal;
  font-weight: 400;
  src: system-ui,
    url("https://fonts.cdnfonts.com/css/sf-pro-display") format("woff");
  font-display: swap;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

h1 {
  line-height: 1.1;
  letter-spacing: 0.1rem;
  font-weight: normal;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.05em solid grey;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color:  #646cff;
  }
}

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-size: 400%;
}


.intro {
  line-height: 1.4;
  margin: 1rem 0;
  border: 2px double rgba(var(--accent), 25%);
  padding: 0.8rem;
  border-radius: 0.4rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 25rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.rows li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 3rem;
}

section {
  text-align: center;
}

.blog {
  width: inherit;
  margin: 0 auto;
}

.blog  h1 {
  margin-top: 0rem;
  animation: typing 1s steps(40, end), blink-caret 0.75s step-end infinite;
}

.blog_title {
  display: inline-block;
}

.rows {
  margin: 3rem auto;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rows a {
  cursor: pointer;
}

.post_image {
  width: 100%;
  margin-bottom: 2rem;
}

.post_date {
  font-size:1.2rem;
  margin: 1rem 0;
  border-bottom: 1px solid black;
}

input {
  cursor: pointer;
  width: 45px;
  height: 25px;
  border-radius: 25px;
  background-color: lightgrey;
  -webkit-appearance: none;
  appearance: none;
}
input::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  
  background-color:  #646cff;;
}

input:checked {
  background-color: rgb(var(--accent));
}

input:checked::after {
  background-color: white;
  left: 70%;
}


.switch {
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative;
}